* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.container {
    background: url(matirial/backgarund.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1350px, 100vw);
    height: 110vh;
    position: relative;
}

.container .cover {
    background-color: black;
    height: 110vh;
    width: 100%;
    opacity: 0.74;
    position: absolute;
    top: 0;
}

nav {
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav img {
    color: red;
    width: 115px;
    position: relative;
    z-index: 10;
}

nav .button {
    position: relative;
    z-index: 10;
}

.text {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    height: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.text> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
}

.text> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.text> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
}

.sepra {
    height: 8px;
    background-color: gray;
}

.btn {
    padding: 3px 8px;
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 6px;
}

.btn-in {
    padding: 3px 8px;
    background-color: red;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.btn-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.container input {
    color: #ffffff;
    font-weight: 900;
    padding: 10px 100px 10px 15px;
    font-size: 20px;
    border: rgb(246, 238, 238, 0.7);
    border-radius: 6px;
    background-color: rgb(23, 23, 23, 0.7);
}

.btn-get {
    padding: 8px 25px;
    background-color: red;
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
}

.first {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
}

.sec1 {
    position: relative;
}

.sec1 img {
    max-width: 45vw;
    position: relative;
    z-index: 10;
}

.sec1 video {
    position: absolute;
    top: 58px;
    right: 10px;
}

.first>div :first-child {
    font-weight: 900;
    font-size: 48px;
}

.first>div :nth-child(3) {
    font-weight: 400;
    font-size: 24px;
}

.faq {
    background-color: black;
    color: #ffffff;
    margin: 10px 0px 60px 0px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    padding: 60px 20px 20px;
}

.box {
    display: flex;
    background-color: #2d2d2d;
    /* opacity: 0.7; */
    justify-content: space-between;
    padding: 18px 18px 18px 18px;
    max-width: 65vw;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}

.box:hover{
    /* background-color: #585656; */
    background-color: #414141;
    transition: all 1s ease-out;
}

.faq .text-1{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 60px 5px 25px;
}

.faq input {
    color: #f4e9e9;
    font-weight: 900;
    padding: 10px 100px 10px 15px;
    font-size: 20px;
    border: rgb(246, 238, 238, 0.7);
    border-radius: 6px;
    background-color: rgb(23, 23, 23, 0.7);
}